target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### App Specific ###
logs/
src/main/resources/static/images/asia/
src/main/resources/static/images/categories/
src/main/resources/static/images/mainslider/
src/main/resources/static/images/shop/
src/main/resources/static/images/slider/
src/main/resources/static/images/stockphotos/

Icon?
.DS_Store
desktop.ini
modules.xml
workspace.xml
